<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="日本古来の素材と現代的表現を併せ持つ温泉旅館、石井花壇。 伝統的「和」の息づく空間で、至極のひとときをお過ごしください。"
    />
    <meta name="robots" content="noindex" />
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
    <title>石井花壇 | 温海温泉旅館【公式サイト】</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <header
      class="l-header--sub l-sub-header__bg"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="1000"
      data-aos-offset="0"
    >
      <div class="l-header__inner">
        <h1>
          <a href="/#" class="l-header__logo--sub"
            ><img src="../images/sub-header-logo.jpg" alt=""
          /></a>
        </h1>
        <div>
          <nav class="c-gnav">
            <ul class="c-gnav__list--sub">
              <li><a href="/room.html">お部屋</a></li>
              <li><a href="/menu.html">お料理</a></li>
              <li><a href="/hot-spring.html">温泉</a></li>
            </ul>
          </nav>
          <nav class="c-gnav__burger">
            <ul class="c-gnav__burger__list">
              <li><a href="/room.html">お部屋</a></li>
              <li><a href="/menu.html">お料理</a></li>
              <li><a href="/hot-spring.html">温泉</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.c-burger -->
        <a id="c-btn--header" type="button" class="c-btn c-btn--header"
          ><img
            src="../images/calender.png"
            alt=""
            class="c-btn__img"
          />宿泊予約</a
        >
        <button class="c-menu-icon--sub" id="c-menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <!-- /.l-header__inner -->
    </header>
    <main>
      <div class="p-modal u-dis--none"></div>
      <!-- /.l-modal -->
      <div class="p-modal__inner">
        <div class="p-modal__form u-dis--none">
          <h2 class="p-modal__form__main-ttl">宿泊予約</h2>
          <a href="#" class="p-modal__form__close"
            ><img src="../images/close.png" alt=""
          /></a>
          <hr class="p-modal__form__line" />
          <div class="p-modal__form__item">
            <label for="username" class="p-modal__form__ttl">お名前</label>
            <div class="p-modal__form__body">
              <input
                type="text"
                id="username"
                required
                placeholder="例：石井正悟"
              />
            </div>
          </div>
          <!-- /.p-modal__form -->
          <div class="p-modal__form__item">
            <label for="mail" class="p-modal__form__ttl">メールアドレス</label>
            <div class="p-modal__form__body">
              <input
                type="text"
                id="mail"
                required
                placeholder="例：Example@example.com"
              />
            </div>
          </div>
          <!-- /.p-modal__form -->
          <div class="p-modal__form__item">
            <label for="plan" class="p-modal__form__ttl"
              >ご希望プラン（空いているプランのみ表示されます）</label
            >
            <div class="p-modal__form__body">
              <select name="plan" class="p-modal__form__select" required>
                <option value="">プランを選択してください</option>
                <option value="plan-1">
                  ①【期間限定】海辺の四季旬彩、贅沢美味懐石プラン
                </option>
                <option value="plan-2">
                  ②平日に優雅に楽しむ、特別宿泊プラン
                </option>
                <option value="plan-3">
                  ③絶景貸切露天と個室会席を満喫できるファミリープラン
                </option>
              </select>
            </div>
          </div>
          <!-- /.p-modal__form -->
          <div class="p-modal__form__item">
            <label for="datetime" class="p-modal__form__ttl">日時選択</label>
            <div class="p-modal__form__body">
              <input
                type="text"
                id="calendar"
                required
                placeholder="日時を選択してください"
              />
            </div>
          </div>
          <!-- /.p-modal__form -->
          <button class="c-btn--modal">送信する</button>
        </div>
      </div>
      <!-- /.p-modal__inner -->
      <section class="l-sub-main__mv--hot-spring">
        <h2 class="l-sub-main__mv__ttl">温泉</h2>
        <p class="l-sub-main__copy__path--sm" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="1500"
        data-aos-offset="0">トップ > 温泉</p>
        <div class="l-sub-main__copy__txt--sm" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="1500"
        data-aos-offset="0">
          <p>
            心も身体も癒やす汐の温泉。<br>湯あたりしにくく、赤ちゃんから年配の方までどなたでもゆっくりと安心して入っていただけます。<br>柔らかく優しい湯にじっくりと漬かれば、心身共にリラックスできます。
          </p>
        </div>
      </section>
      <!-- /.l-sub-main__mv -->
      <div class="l-sub-main__inner">
        <section class="l-sub-main__copy" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="1000"
        data-aos-offset="0">
          <p class="l-sub-main__copy__path">トップ > 温泉</p>
          <div class="l-sub-main__copy__txt">
            <p>
              心も身体も癒やす汐の温泉。<br>湯あたりしにくく、赤ちゃんから年配の方までどなたでもゆっくりと安心して入っていただけます。<br>柔らかく優しい湯にじっくりと漬かれば、心身共にリラックスできます。
            </p>
          </div>
        </section><!-- /.l-sub-main__alternate -->
        <section class="l-sub-main__alternate" data-aos="fade-up"
        data-aos-duration="3000">
            <div class="l-sub-main__alternate__body u--normal-body">
                <h2 class="l-sub-main__alternate__ttl">貸し切り露天風呂「雲居の湯」</h2>
                <p class="l-sub-main__alternate__txt">弱酸性の湯質が優しく肌を包み込むような心地よさ<br>最上階の露天風呂「雲居の湯」では、湯冷めしにくい食塩泉を<br>温海の町並みを遠方に望みながら・・・</p>
            </div>
            <!-- /.l-sub-main__alternate__body -->
            <figure class="l-sub-main__alternate__thumb"><img src="../images/onsen01.jpg" alt=""></figure>

        </section>
        <!-- /.l-sub-main__alternate -->
        <section class="l-sub-main__alternate u--reverse-sub u-mg--bottom" data-aos="fade-up"
        data-aos-duration="3000">
            <div class="l-sub-main__alternate__body u--reverse-body">
                <h2 class="l-sub-main__alternate__ttl">美肌を促す乳白色の硫黄泉を</h2>
                <p class="l-sub-main__alternate__txt">まじりっけなしの白いにごり湯。鳥海山から引いた酸性の強い硫酸塩泉を、 たっぷりと掛け流しています。<br>四季の移り変わりを、天然温泉の湯に浸りながら味わってください。</p>
            </div>
            <!-- /.l-sub-main__alternate__body -->
            <figure class="l-sub-main__alternate__thumb"><img src="../images/onsen02.jpg" alt=""></figure>

        </section>
        <!-- /.l-sub-main__alternate -->
        <section class="l-sub-main__list" data-aos="fade-up"
        data-aos-duration="3000">
        <h2 class="l-sub-main__list__ttl">温泉の効能</h2>
        <div class="l-sub-main__list__body">
          <div class="l-sub-main__list__category">
            <p class="l-sub-main__list__category-name">効能</p>
            <p class="l-sub-main__list__category-txt">神経痛・慢性関節リューマチ・腰痛・冷え性・慢性婦人病・うちみなど</p>
          </div>
          <div class="l-sub-main__list__category">
            <p class="l-sub-main__list__category-name">泉質</p>
            <p class="l-sub-main__list__category-txt">ナトリウム・カルシウム-塩化物泉</p>
          </div>
          <div class="l-sub-main__list__category">
            <p class="l-sub-main__list__category-name">飲用効果</p>
            <p class="l-sub-main__list__category-txt">弱塩化物泉は肌にやわらかなため、高齢者や病後の回復期によく、飲用すれば慢性便秘や慢性消化器病に効果があります。</p>
          </div>
        </div><!-- /.l-sub-main__list__body -->

        </section>
        <!-- /.l-sub-main__alternate -->
        </div><!-- /.l-sub-main__inner -->
    </main>
    <footer class="l-footer">
      <div class="l-footer__info">
        <div
          class="l-footer__inner"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="1000"
          data-aos-offset="0"
        >
          <ul class="l-footer__nav">
            <li><a href="/hot-spring.html">温泉</a></li>
            <li><a href="/menu.html">お料理</a></li>
            <li><a href="/room.html">お部屋</a></li>
          </ul>
          <a href="/#" class="l-footer__logo"
            ><img src="../images/footer-logo.png" alt=""
          /></a>
          <div class="l-footer__address">
            <p class="l-footer__address__code">〒000-0000</p>
            <p class="l-footer__address__detail">
              <span>山形県鶴岡市xxxxxxxxxxx</span>
            </p>
          </div>
          <div class="l-footer__number">
            <p class="l-footer__number__tel">TEL.000-0000-0000</p>
            <p class="l-footer__number__fax">FAX.00-0000-0000</p>
          </div>
        </div>
        <!-- /.l-footer__inner -->
      </div>
      <div class="l-footer__bg--black">
        <small>Copyright © 石井花壇 All Rights Reserved.</small>
      </div>
    </footer>
    <!-- /.l-footer -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  </body>
</html>
