<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="日本古来の素材と現代的表現を併せ持つ温泉旅館、石井花壇。 伝統的「和」の息づく空間で、至極のひとときをお過ごしください。" />
    <meta name="robots" content="noindex">
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
    <title>石井花壇 | 温海温泉旅館【公式サイト】</title>
</head>
<body>
    <header class="l-header">
        <div class="l-header__inner">
            <h1><a href="" class="l-header__logo"><img src="../images/top-header-logo.png" alt=""></a></h1>
            <nav class="c-gnav">
                <ul class="c-gnav__list">
                    <li><a href="">お部屋</a></li>
                    <li><a href="">お料理</a></li>
                    <li><a href="">温泉</a></li>
                </ul>
            </nav>
            <a href="" type="button" class="c-btn c-btn--header"><img src="../images/calender.png" alt="" class="c-btn__img">宿泊予約</a>
        </div>
        <!-- /.l-header__inner -->
    </header>
    <section class="p-mv">
        <div class="p-mv__img">
            <div class="p-mv__img--1">
            </div>
            <div class="p-mv__img--2">
            </div>
            <div class="p-mv__img--3">
            </div>
            <div class="p-mv__txt">
                <h2 class="p-mv__txt__l">頑張らない時間</h2>
                <h2 class="p-mv__txt__r">頑張る人の</h2>
            </div>
        </div><!-- /.p-mv__img -->

        <div class="p-mv__copy">
            <div class="p-mv__copy__inner">
                <h2 class="p-mv__copy__ttlr">温海温泉の</h2>
                <h2 class="p-mv__copy__ttll">美しさに癒やされて</h2>
                <div class="p-mv__copy__txtr">
                    <p>東北の奥座敷である温海温泉郷</p>
                    <p>開湯は約<span>1300</span>年前とされ、役小角が</p>
                    <p>発見したと伝えられます</p>
                </div>
                <div class="p-mv__copy__txtm">
                    <p>石井花壇は江戸より続く由緒ある旅館で</p>
                    <p>クラシックな作りの中に大正ロマンあふれる</p>
                    <p>内装を残しております</p>
                </div>
                <div class="p-mv__copy__txtl">
                    <p>圧倒的癒やしの空間で</p>
                    <p>頑張る現代人に</p>
                    <p>頑張らない圧倒的な非日常をご提供します</p>
                </div>
                <p class="p-mv__copy__end">石井花壇</p>
            </div><!-- /.p-mv__copy__inner -->
        </div><!-- /.p-mv__copy -->
    </section>
    <!-- /.p-mv -->
    <section class="p-alternate">
        <div class="p-alternate__inner">
            <div class="p-alternate__contents">
                <div class="p-alternate__body">
                    <h2 class="p-alternate__ttl">喧騒から離れた空間<br>心落ち着く至極のひととき</h2>
                    <p class="p-alternate__txt">まるで時が止まったかのような、圧倒的な静寂のなかで、<br>ひたすらにゆったりと…。<br>最高級の「何もしない時間」をお過ごしください。</p>
                    <a href="" class="c-btn c-btn--alt">お部屋について</a>
                </div>
                <!-- /.p-alternate__body -->
                <figure class="p-alternate__thumb">
                    <img src="../images/oheya-top.jpg" alt="">
                </figure>
            </div>
            <!-- /.p-alternate__contents -->
            <div class="p-alternate__contents u--reverse">
                <div class="p-alternate__body u-mg--right">
                    <h2 class="p-alternate__ttl">出迎えるのは<br>極上の温海料理</h2>
                    <div class="p-alternate__txt"><p>最も旬の食材を愉しむ、最高の贅沢を<br>最高級A5ランクの米沢牛と共に頂く。</p><p>あなたの人生史に残る「極上の感動」を<br>お約束します。</p></div>
                    <a href="" class="c-btn c-btn--alt">料理について</a>
                </div>
                <!-- /.p-alternate__body -->
                <figure class="p-alternate__thumb">
                    <img src="../images/menu-top.jpg" alt="">
                </figure>
            </div>
            <!-- /.p-alternate__contents -->
            <div class="p-alternate__contents">
                <div class="p-alternate__body">
                    <h2 class="p-alternate__ttl">疲れ切った身体にやすらぎを<br>温海の源泉に癒やされて</h2>
                    <div class="p-alternate__txt"><p>古くは弘法大師の病をも治療したと言われる温海の泉質。</p><p>現代人の疲弊しきった身体を修復する最高級の湯治場として<br>ご活用ください。</p></div>
                    <a href="" class="c-btn c-btn--alt">温泉について</a>
                </div>
                <!-- /.p-alternate__body -->
                <figure class="p-alternate__thumb">
                    <img src="../images/onsen-top.jpg" alt="">
                </figure>
            </div>
            <!-- /.p-alternate__contents -->

        </div>
        <!-- /.p-alternate__inner -->
    </section>
    <!-- /.p-alternate -->
</body>
</html>
