<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="日本古来の素材と現代的表現を併せ持つ温泉旅館、石井花壇。 伝統的「和」の息づく空間で、至極のひとときをお過ごしください。" />
    <meta name="robots" content="noindex">
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
    <title>石井花壇 | 温海温泉旅館【公式サイト】</title>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <h1><a href="" class="header__logo"><img src="../images/top-header-logo.png" alt=""></a></h1>
            <nav class="gnav">
                <ul class="gnav__list">
                    <li><a href="">お部屋</a></li>
                    <li><a href="">お料理</a></li>
                    <li><a href="">温泉</a></li>
                </ul>
            </nav>
            <a href="" type="button" class="header__btn"><img src="../images/calender.png" alt="" class="btn__img">宿泊予約</a>
        </div>
        <!-- /.header__inner -->

    </header>
    <div class="mv">
        <div class="mv__jumbotron" style="background-image:url('../images/mainbg01.jpg');">

        </div>
        <!-- /.mv__pic -->
        <div class="mv__txt" style="background-image:url('../images/bg.png');">

        </div>
        <!-- /.mv__txt -->
    </div>
    <!-- /.mv -->
    <!-- /.header -->
</body>
</html>
