@use "../../foundation/foundation" as *;

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        margin-right: 10px;
    }
    &--header {
        width: 170px;
        height: 54px;
        background-color: $btn-bg;
        color: #fff;
    }
    &--alt {
        width: 200px;
        height: 56px;
        background-color: #fff;
        border: 1px solid #707070;
        color: #000;
        font-weight: 500;
    }
}
