@use "../../foundation/foundation" as *;

.c-gnav {
    display: flex;
    padding-left: 120px;
    justify-content: left;
    align-items: center;
    height: 100%;
    &__list {
        display: flex;
        li {
            margin-right: 30px;
        }
    }
    @include responsive(sm){
        display: none;
    }
}
