@use "../../foundation/foundation" as *;

.c-ttl {
    text-align: center;
    &__img{
        width: 40px;
        height: 40px;
        @include responsive(sm){
            width: 30px;
            height: auto;
        }
    }
    &__txt {
        margin-top: 20px;
        font-size: 36px;
        font-weight: 500;
        @include responsive(sm){
            margin-top: 15px;
            font-size: 24px;
        }
    }
}
