@use "../foundation/foundation" as *;

.l-footer{
    &__inner {
        padding-right: 10px;
        padding-left: 10px;
    }
    &__info{
        background-image: url(../images/bg3.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 522px;
        padding-top: 64px;
        text-align: center;
        padding-bottom: 61px;
        @include responsive(sm){
            min-height: 400px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &__nav {
        display: flex;
        justify-content: center;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 96px;
        @include responsive(sm){
            margin-bottom: 50px;
            margin-bottom: 40px;
        }
        li {
            writing-mode: vertical-rl;
            letter-spacing: 1em;
            width: 1.125em;
            margin-right: 34px;
            &:last-child{
                margin-right: 0;
            }
            @include responsive(sm){
                margin-right: 25px;
            }
        }
        a {
            font-weight: 500;
            // font-size: 1.125em;
            width: 1.125em;
            display: inline-block;
            width: fit-content;
            @include responsive(sm){
                font-size: .9em;
            }
        }

    }
    &__logo {
        width: 145px;
        height: 92px;
        img {
        @include responsive(sm){
            width: 120px;
            height: auto;
        }
        }
    }
    &__address {
        margin-top: 72px;
        @include responsive(sm){
            margin-top: 40px;
        }
        >p {
            display: inline-block;
            margin-right: 1.25em;
            font-weight: 500;
            &:last-child{
                margin-right: 0;
            }
            @include responsive(sm){
                font-size: .9em;
            }
        }
        span {
            align-items: center;
            letter-spacing: 2.88px;
        }
        &__code{
            text-align: right;
        }
        &__detail {
            text-align: left;
        }
    }
    &__number {
        margin-top: 23px;
        @include responsive(sm){
            margin-top: 10px;
        }
        >p{
            display: inline-block;
            font-weight: 500;
            margin-right: 1.25em;
            // width: fit-content;
            &:last-child{
                margin-right: 0;
            }
            @include responsive(sm){
                font-size: .9em;
            }
        }
        &__tel {
            text-align: right;
        }
        &__fax {
            text-align: left;
        }
    }

    &__bg--black {
        background-color: $cBlack;
        height: 60px;
        padding-top: 24px;
        small {
            display: block;
            text-align: center;
            font-size: 12px;
            color: $cWhite;
        }
    }
}
