@use "../foundation/foundation" as *;

.l-header{
    width: 100%;
    height: 80px;
    z-index: 100;
    position: fixed;
    &__inner {
        display: flex;
        height: 100%;
        max-width: 1980px;
        align-items: center;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        >h1 {
            height: 60px;
        }
        a {
            color: #fff;
        }
        :nth-child(3){
            margin-left: auto;
        }
    }

    &__logo {
        width: 200px;
        height: 40px;
    }
}
