@use "../../foundation/foundation" as *;

.p-media {
    width: 570px;
    height: 130px;
    background-color: $media-bg;
    padding: 15px 10px;
    display: flex;
    margin-right: 3.9%;
    margin-bottom: 20px;
    @include responsive(lg){
        width: 47.5%;
    }
    &:nth-of-type(2n){
        margin-right: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
    &__thumb {
        position: relative;
        width: 103px;
        height: auto;
        margin-right: 30px;
    }
    &__body {

    }
    &__time {
        font-size: 14px;
        font-weight: 500;
    }
    &__txt {
        font-weight: 500;
        line-height: 1.8em;
    }
}
