@use "../../foundation/mixin" as *;


.p-mv{
    // position: relative;
    // height: 1780px;
    &__img {
        width: 100%;
        height: 1079px;
        overflow: hidden;
        position: relative;
        &--1, &--2, &--3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1079px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 10;
            opacity: 0;
            @include animation($name: fade, $duration: 24s, $delay: 0s);
            perspective: 1000;
        }
        &--1 {
            background-image: url(../images/mainbg01.jpg);
        }
        &--2 {
            background-image: url(../images/mainbg02.jpg);
            animation-delay: 8s;
        }
        &--3 {
            background-image: url(../images/mainbg03.jpg);
            animation-delay: 16s;
        }

    }
    &__txt {
        top: 362px;
        left: 71.77%;
        transform: translateX(-71.77%);
        // height: 286px;
        position: absolute;
        display: flex;
        color: #ffffff;
        z-index: 20;
        >h2 {
            width: 1em;
            font-size: 2.125em;
            writing-mode: vertical-rl;
            letter-spacing: 0.3em;
            margin-left: 0;
        }
        &__l {
            margin-right: 1.5em;
        }
        &__r {
            margin-right: 0;
        }
    }
    &__copy {
        width: 100%;
        height: 681px;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &__inner{
            writing-mode: vertical-rl;
            max-width: 1160px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            >h2 {
                font-size: 1.75em;
                font-weight: 500;
                letter-spacing: 0.4em;
                width: 28px;
            }
            p {
                font-weight: 500;
                letter-spacing: 0.35em;
            }
        }
        &__ttlr {
            margin-right: 118px;
            margin-top: 64px;
        }
        &__ttll {
            margin-right: 33px;
            margin-top: 149px;
        }
        &__txtr, &__txtm, &__txtl {
            width: 92px;
            margin-top: 149px;
            margin-right: 118px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__txtr span {
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
        &__end{
            // width: 22px;
            margin-top: 443px;
            margin-right: 118px;
            font-size: 1.375em;
        }
    }
}

@keyframes fade {
    0%{
        transform-origin: center;
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    80%{
        opacity: 0.8;
        transform: scale(1.2);
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
