@use "./foundation/foundation" as *;
@use "./layout/header" as *;
@use "./object/object" as *;
@use "./layout/footer" as *;
@use "./layout/sub-header" as *;

// mv

.mv{
    // position: relative;
    // height: 1780px;
    &__img {
        width: 100%;
        height: 1079px;
        overflow: hidden;
        position: relative;
        @include responsive(sm){
            height: 600px;
        }
        &--1, &--2, &--3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1079px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 10;
            opacity: 0;
            @include animation($name: fade, $duration: 24s, $delay: 0s);
            perspective: 1000;
            @include responsive(sm){
                height: 600px;
            }
        }
        &--1 {
            background-image: url(../images/mainbg01.jpg);

        }
        &--2 {
            background-image: url(../images/mainbg02.jpg);
            animation-delay: 8s;
        }
        &--3 {
            background-image: url(../images/mainbg03.jpg);
            animation-delay: 16s;
        }

    }
    &__txt {
        top: 362px;
        left: 71.77%;
        transform: translateX(-71.77%);
        // height: 286px;
        position: absolute;
        display: flex;
        color: #ffffff;
        z-index: 20;
        @include responsive(sm){
            top: 200px;
            left: 80%;
        }
        >h2 {
            width: 1em;
            font-size: 2.125em;
            writing-mode: vertical-rl;
            letter-spacing: 0.3em;
            margin-left: 0;
            @include responsive(sm){
                font-size: 1.5em;
            }
        }
        &__l {
            margin-right: 1.5em;
        }
        &__r {
            margin-right: 0;
        }
    }
    &__copy {
        width: 100%;
        height: 681px;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        @include responsive(sm){
            height: 500px;
        }
        &__inner{
            writing-mode: vertical-rl;
            max-width: 1160px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            @include responsive(sm){
                writing-mode: horizontal-tb;
            }
            h2 {
                font-size: 1.75em;
                font-weight: 500;
                letter-spacing: 0.4em;
                width: 28px;
                @include responsive(sm){
                    width: auto;
                    font-size: 1.5em;
                    letter-spacing: .2em;
                }
            }
            p {
                font-weight: 500;
                letter-spacing: 0.35em;
                @include responsive(sm){
                    display: inline;
                    font-size: .8em;
                    letter-spacing: .2;
                }
            }

        }
        &__body{
            @include responsive(md){
                max-width: 670px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            @include responsive(sm){
                margin-top: 50px;
                width: 80%;
                writing-mode: horizontal-tb;
            }

        }
        &__ttlr {
            margin-right: 118px;
            margin-top: 64px;
            @include responsive(md){
                margin-right: 0;
            }
            @include responsive(sm){
                margin-top: 0;
            }
        }
        &__ttll {
            margin-right: 33px;
            margin-top: 149px;
            @include responsive(sm){
                margin-top: 0;
                margin-right: 0;
            }

        }
        &__txtr, &__txtm, &__txtl {
            width: 92px;
            margin-top: 149px;
            margin-right: 118px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include responsive(md){
                margin-right: 10%;
            }
            @include responsive(sm){
                width: 100%;
                margin-top: 20px;
                margin-right: 0;
                display: inline-block;
            }

        }
        &__txtr span {
            writing-mode: vertical-rl;
            text-orientation: upright;
            @include responsive(sm){
                writing-mode: horizontal-tb;
            }
        }
        &__end{
            // width: 22px;
            margin-top: 443px;
            margin-right: 118px;
            font-size: 1.375em;
            font-weight: 500;
            @include responsive(md){
                margin-right: 10%;
            }
            @include responsive(sm){
                margin-top: 50px;
                text-align: right;
                font-size: 1.2em;
                letter-spacing: .2em;
            }
        }
    }
}

@keyframes fade {
    0%{
        transform-origin: center;
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    80%{
        opacity: 0.8;
        transform: scale(1.2);
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
@include responsive--min(lg){
    @keyframes fade {
        0%{
            transform-origin: center;
            opacity: 0;
        }
        15%{
            opacity: 1;
        }
        80%{
            opacity: 0.8;
            transform: scale(1);
        }
        100%{
            opacity: 0;
            z-index: 0;
        }
    }
}

// メイン市松レイアウト

.alternate{
    margin-top: -16px;
    padding-bottom: 44px;
    &__inner {
        margin: 0 auto;
        max-width: 1900px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__contents{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 122px;
        height: auto;
        align-items: center;

        @include responsive--min(md){
            flex-direction: row-reverse;
            justify-content: left;
            align-items: start;
        }
    }

    &__thumb{
        max-width: 1050px;
        height: auto;
        @include responsive(md){
            width: 80%;
        }
        @include responsive(sm){
            width: 100%;
        }
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > a {
            margin-top: 75px;
            text-align: center;
        }
        @include responsive(lg){
            max-width: 1000px;
        }
        @include responsive(md){
            max-width: 600px;
        }
        @include responsive(sm){
            padding-left: 10px;
            padding-right: 10px;
        }
        @include responsive--min(md){
            padding-left: 137px;
            // margin-top: -20px;
            align-items: start;
        }
    }
    &__ttl {
        font-size: 36px;
        margin-top: 32px;
        font-weight: 500;
        line-height: 1.72em;
        height: 98px;
        @include responsive(lg){
            height: auto;
            margin-top: 50px;
            text-align: center;
        }
        @include responsive(sm){
            font-size: 24px;
        }
        br {
            @include responsive(lg){
                display: none;
            }
        }
    }
    &__txt{
        margin-top: 75px;
        line-height: 2em;
        height: 80px;
        @include responsive(lg){
            height: auto;
            margin-top: 40px;
            text-align: center;
        }
        @include responsive(sm){
            width: 80%;
        }
        > p {
            font-weight: 500;
            @include responsive(sm){
                font-size: .8em;
                display: inline;
            }
            >br {
                @include responsive(lg){
                    display: none;
                }
            }

        }
    }
}

// おすすめプラン

.plan {
    background-image: url(../images/bg02.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 78px;
    padding-top: 60px;
    padding-bottom: 144px;
    width: 100%;
}

// お知らせ

.notice {
    padding-top: 60px;
    &__inner {
        margin: 0 auto;
        max-width: 1210px;
        padding-right: 10px;
        padding-left: 10px;
    }
    &__nav {
        display: flex;
        justify-content: center;
        padding-left: 0;
        >li {
            margin-right: 53px;
            width: fit-content;
            font-weight: 500;
            &:last-child{
                margin-right: 0;
            }
            @include responsive(sm){
                margin-right: 30px;
            }
            &.--active {
                text-decoration: underline;
            }

        }
    }
    &__wrapper {
        margin-top: 49px;
        margin-bottom: 60px;
        width: 100%;
        padding-left: 0;
        ul {
            width: 100%;
            padding-left: 0;
            display: none;
            flex-wrap: wrap;
            @include responsive(sm){
                justify-content: center;
            }
            &.--show{
                display: flex;
            }
        }
        li {
            display: flex;
        }
     }
}

// アクセス

.access {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 110px;
    &__info {
        max-width: 1500px;
        margin: 66px auto 69px auto;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        @include responsive(lg){
            max-width: 1200px;
        }
        @include responsive(md){
            flex-wrap: wrap;
            justify-content: center;
        }
        &__body {
            margin-left: 83px;
            // padding-top: 15px;
            @include responsive(lg){
                margin-left: 40px;
                padding-right: 10px;
            }
            @include responsive(md){
                margin-left: 0;
                max-width: 656px;
                margin-top: 20px;
                padding-left: 20px;
            }
            p {
                font-weight: 500;
                line-height: 1.8em;
            }
        }
        &__ttl {
            font-weight: 900;
            margin-bottom: 0.9em;
        }
        &__txt {
            margin-bottom: 1em;
            // br {
            //     @include responsive(sm){
            //         display: none;
            //     }
            span {
                display: block;
                @include responsive(sm){
                    display: inline-block;
                    margin-left: 15px;
                }
            }


        }
        &__notice {
            br {
            @include responsive(lg){
                display: none;
            }
            }

        }
    }
    &__img {
        position: relative;
        width: 656px;
        height: 370px;
        // margin-right: 83px;
        margin-left: 150px;
        @include responsive(lg){
            max-width: 656px;
            max-height: 370px;
            margin-left: 0;
        }
        @include responsive(sm){
            max-width: 100%;
            // padding-top: 56.4%;
            // max-height: 333px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include responsive(lg){
                width: 95%;
            }
            @include responsive(md){
                width: 100%;
            }
    }
    }
    &__map {
        position: relative;
        max-width: 762px;
        margin: auto;
        &::before {
            content: "";
            display: block;
            padding-top: 74.75%;
        }
        @include responsive(lg){
            width: 90%;
            height: 90%;
        }
        >iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}
