@use "./foundation/reset";
@use "./layout/header" as *;
@use "./color" as *;


.gnav {
    display: flex;
    &__list {
        display: flex;
    }
}


// mv
.mv{
    position: relative;
    &__jumbotron {
        width: 100%;
        height: 1079px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -101px;
        z-index: 9;
    }
    &__txt {
        width: 100%;
        height: 681px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 978px;
        z-index: 8;
    }
}
